*{
    border:0px;
    margin: 0px;
}

.nave
{
    padding-left: 70px;
}

.topcontainer{
    background-color: rgb(251, 238, 252);
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.topdiv{
    display: flex;
  justify-content: center;
  position: relative;
}

.uptext
{
    border-style:outset;
    background-color: white;
    border-color: #4a5555;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 2px 2px;
    width: 50%;
    position: absolute;
    margin-left: 30%;
    top: 500px;
    padding-bottom: 10px;
}

.bot{
    margin: auto;
    width: 25%;
    text-align: center;
    font-size: 20px;
    background-color: orange;
    font-family: 'Nunito', sans-serif;
    border-radius: 5px;
    border-color: black;
    border-style:outset;
}

.thead
{
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
color: #1b1b20  ;
text-align: center;
background-color: inherit;
margin-top: 0%;
    padding-top: 0%;
margin-bottom: 0%;
padding-bottom: 0%;
}

.dhead
{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-top: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-bottom: 0%;
}
.tpara
{
    text-align: center;
    font-size: 20px;
    margin-top: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.middlecontainer{
    padding-top: 25px;
}

.workmiddle{
    padding-bottom: 25px;
}

.workhead
{
    font-size: 50px;
    font-family: 'Nunito', sans-serif;
    color:#40514E  ;
    text-align: center;
    background-color: inherit;
    margin-top: 10px;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.coll{
    padding-top: 25px;
    display: flex;
  justify-content: right;
}

.colr{
    padding-top: 25px;
    display: flex;
  justify-content: left;
}

.description{
    padding-top: 20px;
    margin-top: 20px;
}

.imgcol{
    padding-top: 50px;
}

.title{
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.worksec{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    background-color:rgb(190, 189, 189);
}

.wsh{
    padding-bottom: 25px;
}

.achcontainer{
background-color: rgb(251, 220, 140);
padding-top: 70px;
padding-bottom: 70px;
}

.subach{
    width: 50%;
    margin: auto;
    color: rgb(6, 9, 68);
}

.achhead{
    font-size: 70px;
    padding-bottom: 15px;
}

.fdiv{
    background-color: #11164d;
    padding-top: 50px;
    padding-bottom: 50px;
}

.fpara{
    color:white;
}

.fhead{
    color:white;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
}